<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Bikes R Us</title>
	<link href="css/reset.css" type="text/css" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<link rel="stylesheet" type="text/css" media="screen" href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" media="screen" href="./css/mobilemenu.css"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<link href="img/favicon.png" type="img/png" rel="icon">	
	<link href="scss/main.css" type="text/css" rel="stylesheet">
	<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:700,300' rel='stylesheet' type='text/css'>
	<script>
		$(document).ready(function(){
			$(".nav-button").click(function () {
			$(".nav-button,.primary-nav").toggleClass("open");
			});    
		});
	</script>
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
	<![endif]-->
</head>
<body>	
	<div class="logo-wrap">
		<div class="container">
			<img src="img/logo2.png" class="logo">
			<h1 class="title">Road Beasts</h1>
		</div>
	</div>
	<header>
		<div class="container">
		
			<div class="search-wrap">
				<button class="btn-primary">Go</button>
				<input type="text" name="search" placeholder="Search...">
			</div>
			<div class="social">
				<ul class="">
				    <li><a href="https://www.facebook.com/"><img src="img/facebook.png" alt=""></a></li>
				    <li><a href="https://twitter.com/"><img src="img/twitter.png" alt=""></a></li>
				    <li><a href="https://instagram.com/"><img src="img/instagram.png" alt=""></a></li>
				</ul>
			</div>
			
			<button class="nav-button">Menu</button>
			<nav class="nav-menu">
				<ul class="primary-nav">
					<li><a href="#">Home</a></li>
					<li><a href="#">About</a>
						<ul>
							<li><a href="#">Dogs</a></li>
							<li><a href="">Cats</a></li>
							<li><a href="">Birds</a></li>
						</ul>
					</li>
					<li><a href="#">Blog</a>
						<ul>
							<li><a href="#">Cups</a></li>
							<li><a href="">Plates</a></li>
							<li><a href="">Bowls</a></li>
						</ul>
					</li>
					<li><a href="#">Contact</a></li>
				</ul>
			</nav>
			<img id="big-pic" src="img/banner-img.jpg" alt="header-picture">
		</div>
		</div>
	</header>
	<main>
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-12">
					<h2>Come check out our bikes!</h2>
					<p>Quisque velit nisi, pretium ut lacinia in, elementum id enim. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur aliquet quam id dui posuere blandit.</p>
					<p>Donec sollicitudin molestie malesuada. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Donec rutrum congue leo eget malesuada. Vivamus suscipit tortor eget felis porttitor volutpat. Proin eget tortor risus.</p>
				</div>
			</div>
		</div>
		<div class="container">
			<h2>A few of our bikes</h2>
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-3">
					<img src="img/bike1.jpg" class="pic">
				</div>
				<div class="col-xs-12 col-sm-6 col-md-3">
					<img src="img/bike2.jpg" class="pic">
				</div>
				<div class="col-xs-12 col-sm-6 col-md-3">
					<img src="img/bike3.jpg" class="pic">
				</div>
				<div class="col-xs-12 col-sm-6 col-md-3">
					<img src="img/bike4.jpg" class="pic">
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-6">
					<h2>About our bikes</h2>
					<p>Quisque velit nisi, pretium ut lacinia in, elementum id enim. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur aliquet quam id dui posuere blandit.</p>
					<p>Donec sollicitudin molestie malesuada. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Donec rutrum congue leo eget malesuada. Vivamus suscipit tortor eget felis porttitor volutpat. Proin eget tortor risus.</p>
				</div>
				<div class="col-xs-12 col-sm-6">
					<h2>Satisfaction Guarantee</h2>
					<p>Quisque velit nisi, pretium ut lacinia in, elementum id enim. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur aliquet quam id dui posuere blandit.</p>
					<p>Donec sollicitudin molestie malesuada. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Donec rutrum congue leo eget malesuada. Vivamus suscipit tortor eget felis porttitor volutpat. Proin eget tortor risus.</p>
				</div>
			</div>
		</div>
	</main>
	<footer>
		<p><h4>© Road Beasts inc.</h4></p>
		<a href="#"><p>Administrative login</p></a>
	</footer>
		
	
</body>
</html>