body{
	#big-pic{
			width: 100%;
		}
	
		.nav-button{

		}
		.title{
			  display: inline-block;
    position: relative;
    top: 55px;  
		}
		.search-wrap{
			    display: inline-block;
    float: right;
    margin: 20px;
    margin-left: 0;
    margin-right: 0;
		}
		.social {
			    display: inline-block;
    position: relative;
    top: 16px;
			li{
				float: left;
				img{
					width: 40px;
					float: right;
				}
			}
				

		}
		.logo-wrap{
        display: block;
   
    clear: both;
    background-color: rgb(42,42,42);
    overflow: -webkit-paged-x;
    color: #fff;
		}
		.logo{
			    margin: 0px auto;
		    display: block;
		    width: 85px;
		    float: left;
		    margin-right: 15px;
		    padding: 10px 0;
		}
		a:active {
		  color: red;
		}
		.nav-menu{
			
			ul.primary-nav{
				  
				li{
					 a{
					 	font-size: 18px;
					 }
					  &:hover ul{
					  	
					  }
					ul{
						

						li{

							a{

							}
						}
					}
					a{
						
					}
				}
			}
		}
		
			.pic{
				    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
			}
		
		
	
	footer{
		background: rgb(42,42,42);
		padding: 20px;
		color: #fff;
		p{

		}
	}
}